/* My Website - Aditya Saravanan */
/* My website, made using HTML, CSS, and JavaScript */


/* Basic Construction */

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0 0 22.5em;
    padding: 0;
    background-color: #142239;
    font-family: 'NSimSun'; sans-serif;
    color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Homepage Construction */

#homepage .main {
    text-align: left;
    margin-left: 3.2rem;
    margin-top: -4.5rem;
}

#homepage .main .name-text {
    font-size: 7em;
    margin-bottom: -3rem;
}

#homepage .main .typewrite-text {
    font-size: 3em;
}

#homepage .sub-text {
    width: 27em;
    font-size: 1.15em;
    margin-top: 2.75rem;
    margin-right: 3.2rem;
    text-align: right;
    line-height: 1.4rem;
}

#homepage .homepageflexbox {
    display: flex;
    justify-content: space-between;
}


/* Resume Page Construction */

#resumepage .rtitle {
    text-align: left;
    margin-left: 3.2rem;
    margin-top: -4.5rem;
}

#resumepage .resume-text {
    font-size: 7em;
}

#resumepage .pdf {
    margin-top: 2.75rem;
    margin-right: 3.2rem;
    margin-bottom: 10rem;
    width: 55rem;
}

#resumepage .pdf .my-resume {
    width: 100%;
    height: 57vh;
}

#resumepage .resumepageflexbox {
    display: flex;
    justify-content: space-between;
}


/* Portfolio Page Construction */

#portfoliopage .ptitle {
    text-align: left;
    margin-left: 3.2rem;
    margin-top: -4.5rem;
}

#portfoliopage .portfolio-text {
    font-size: 7em;
}

#portfoliopage .portfoliopageflexbox {
    display: flex;
    justify-content: space-between;
}

#portfoliopage .folderflexbox {
    margin-top: -4rem;
    margin-bottom: 32rem;
}

#portfoliopage .folderflexbox ul li {
    margin-top: 6rem;
}

#portfoliopage .folderflexbox ul {
    display: flex;
    justify-content: space-evenly;
}


/* Links Page Construction */

#linkspage .ltitle {
    text-align: left;
    margin-left: 3.2rem;
    margin-top: -4rem;
}

#linkspage .links-text {
    font-size: 7em;
}

#linkspage .sub-text2 {
    width: 25em;
    font-size: 1.15em;
    margin-top: 2.75rem;
    margin-right: 3.2rem;
    text-align: right;
    line-height: 1.4rem;
}

#linkspage .linkspageflexbox {
    display: flex;
    justify-content: space-between;
}


/* Footer Construction */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22.5em;
    width: 100%;
}

footer nav ul  {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}


/* Cursor Animations */

.typewrite-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 500ms infinite;
}

.resume-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

.portfolio-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

.links-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

@keyframes animated-cursor {
  from {border-right-color: #FFFFFF;}
  to {border-right-color: transparent;}
}


/* Portfolio Folder Animations */

.pathfinderfolder {
    display: inline-block;
    width: 394px;
    height: 264px;
    background: transparent url("/assets/images/projectimages/pathfinder.svg") no-repeat 0 0;
}

.pathfinderfolder:hover {
    background-position: -394px 0;
}

.secondfolder, .thirdfolder, .fourthfolder, .fifthfolder, .sixthfolder {
    display: inline-block;
    width: 394px;
    height: 264px;
    background: transparent url("/assets/images/projectimages/folder.svg") no-repeat 0 0;
}

.secondfolder:hover, .thirdfolder:hover, .fourthfolder:hover, .fifthfolder:hover, .sixthfolder:hover {
    background-position: -394px 0;
}


/* Beginning Panel Setup */

#homepage {
    display: block;
}

#resumepage {
    display: none;
}

#portfoliopage {
    display: none;
}

#linkspage {
    display: none;
}
