/* My Website - Aditya Saravanan */
/* My website, made using HTML, CSS, and JavaScript */


/* Basic Construction */


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 22.5em;
    padding: 0;
    background-color: #142239;
    font-family: 'NSimSun'; sans-serif;
    color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


/* Homepage Construction */


#homepage .main {
    text-align: left;
    margin-left: 2.7em;
    margin-top: -5em;
}

#homepage .main .name-text {
    font-size: 7em;
    margin-bottom:-.45em;
}

#homepage .main .typewrite-text {
    font-size: 3em;
}

#homepage .sub-text {
    width: 27em;
    font-size: 1.15em;
    text-align: right;
    margin-top: 2.3em;
    margin-right: 2.7em;
    line-height:1.2em;
}

#homepage .homepageflexbox {
    display: flex;
    justify-content: space-between;
}


/* Resume Page Construction */


#resumepage .rtitle {
    text-align: left;
    margin-left: 2.7em;
    margin-top: -5em;
}

#resumepage .resume-text {
    font-size: 7em;
}

#resumepage .pdf {
    margin-top: 2.3em;
    margin-right: 2.7em;
    margin-bottom: 10em;
    width: 55em;
}

#resumepage .pdf .my-resume {
    width: 100%;
    height: 115vh;
}

#resumepage .resumepageflexbox {
    display: flex;
    justify-content: space-between;
}


/* Portfolio Page Construction */


#portfoliopage .ptitle {
    text-align: left;
    margin-left: 2.7em;
    margin-top: -5em;
}

#portfoliopage .portfolio-text {
    font-size: 7em;
}

#portfoliopage .portfoliopageflexbox {
    display: flex;
    justify-content: space-between;
}

#portfoliopage .folderflexbox {
    margin-top: -4em;
    margin-bottom: 32em;
}

#portfoliopage .folderflexbox ul{
    display: flex;
    justify-content: space-evenly;
}

#portfoliopage .folderflexbox ul li{
    margin-top: 6em;
}


/* Links Page Construction */


#linkspage .ltitle {
    text-align: left;
    margin-left: 2.7em;
    margin-top: -5em;
}

#linkspage .links-text {
    font-size: 7em;
}

#linkspage .sub-text2 {
    width: 25em;
    font-size: 1.15em;
    text-align: right;
    margin-top: 2.3em;
    margin-right: 2.7em;
    line-height:1.2em;
}

#linkspage .linkspageflexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
}


/* Footer Construction */


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22.5em;
    width: 100%;
}

footer nav ul  {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

/* Beginning Panel Setup */


#homepage {
    display: block;
}

#resumepage {
    display: none;
}

#portfoliopage {
    display: none;
}

#linkspage {
    display: none;
}


/* Cursor Animations */


.typewrite-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 500ms infinite;
}

.resume-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

.portfolio-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

.links-text .typetxt {
    border-right: .08em solid #FFFFFF;
    animation: animated-cursor 1s linear infinite;
}

@keyframes animated-cursor{
  from{border-right-color: #FFFFFF;}
  to{border-right-color: transparent;}
}


/* Portfolio Folder Animations */


.pathfinderfolder {
    display: inline-block;
    width: 394px;
    height: 264px;
    background: transparent url("../images/pathfinder.svg") no-repeat 0 0;
}

.pathfinderfolder:hover {
    background-position: -394px 0;
}

.secondfolder, .thirdfolder, .fourthfolder, .fifthfolder, .sixthfolder {
    display: inline-block;
    width: 394px;
    height: 264px;
    background: transparent url("../images/folder.svg") no-repeat 0 0;
}

.secondfolder:hover, .thirdfolder:hover, .fourthfolder:hover, .fifthfolder:hover, .sixthfolder:hover {
    background-position: -394px 0;
}
