/* My Website - Aditya Saravanan */
/* My website, made using HTML, CSS, and JavaScript */

@font-face {
    font-family:"NSimSun";
    src: url("https://adisaran64.com/css/fonts/NSimSun.eot");
	src: url("https://adisaran64.com/css/fonts/NSimSun.eot?#iefix") format("embedded-opentype"),
		url("https://adisaran64.com/css/fonts/NSimSun.woff2") format("woff2"),
		url("https://adisaran64.com/css/fonts/NSimSun.woff") format("woff"),
		url("https://adisaran64.com/css/fonts/NSimSun.svg#NSimSun") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
